In [1]:
import numpy as np
import pandas as pd

In [12]:
data={1:[1,2,np.nan],2:[5,np.nan,np.nan],3:[1,2,3]}                 # create Dic

In [13]:
df=pd.DataFrame(data=data)                                                  # set Dataframe

In [14]:
df

     1    2  3
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [6]:
list='A B C D E'.split()
dfr=pd.DataFrame(data=list)

In [7]:
dfr

   0
0  A
1  B
2  C
3  D
4  E

In [15]:
df

     1    2  3
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [16]:
df.dropna()                                # drop nan

     1    2  3
0  1.0  5.0  1

In [17]:
df.dropna(axis=1)

   3
0  1
1  2
2  3

In [20]:
df.dropna(thresh=2,axis=0)

     1    2  3
0  1.0  5.0  1
1  2.0  NaN  2

In [24]:
#b fill the Nan values:
df.fillna(value='**')                              # fill the nan values

     1    2  3
0  1.0  5.0  1
1  2.0   **  2
2   **   **  3

In [28]:
# Get a mean values :
df[2].fillna(value=df[3].mean())                 #  mean values

0    5.0
1    2.0
2    2.0
Name: 2, dtype: float64

In [30]:
df[[2,1]].mean()

2    5.0
1    1.5
dtype: float64

In [31]:
df[1].fillna(value=df[3].mean())

0    1.0
1    2.0
2    2.0
Name: 1, dtype: float64

In [32]:
df[1].mean()

1.5