In [2]:
#Group by Functions:

import pandas as pd

In [3]:
# creat data frame 
dic={'Company':['Infosys','Infosys','HCL','HCL','TCS','TCS'],
      'Person':['Sam','Renu','Raj','Kani','Devi','Ram'],
     'Sales':[200,300,400,500,120,230]}

In [4]:
dic

{'Company': ['Infosys', 'Infosys', 'HCL', 'HCL', 'TCS', 'TCS'],
 'Person': ['Sam', 'Renu', 'Raj', 'Kani', 'Devi', 'Ram'],
 'Sales': [200, 300, 400, 500, 120, 230]}

In [5]:
df=pd.DataFrame(dic)                            # create dataframe

In [6]:
df

   Company Person  Sales
0  Infosys    Sam    200
1  Infosys   Renu    300
2      HCL    Raj    400
3      HCL   Kani    500
4      TCS   Devi    120
5      TCS    Ram    230

In [7]:
# crate Groupby method:
df.groupby('Company')

In [8]:
gf=df.groupby('Company')

In [9]:
#Aggregate funtion:
gf.max()                                        # max

        Person  Sales
Company
HCL        Raj    500
Infosys    Sam    300
TCS        Ram    230

In [10]:
gf.min()                                       # min()

        Person  Sales
Company
HCL       Kani    400
Infosys   Renu    200
TCS       Devi    120

In [11]:
gf.sum()                            # sum()

          Person  Sales
Company
HCL      RajKani    900
Infosys  SamRenu    500
TCS      DeviRam    350

In [12]:
gf.count()                         # count()

         Person  Sales
Company
HCL           2      2
Infosys       2      2
TCS           2      2

In [46]:
gf.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [14]:
gf.describe()

        Sales
        count   mean        std    min    25%    50%    75%    max
Company
HCL       2.0  450.0  70.710678  400.0  425.0  450.0  475.0  500.0
Infosys   2.0  250.0  70.710678  200.0  225.0  250.0  275.0  300.0
TCS       2.0  175.0  77.781746  120.0  147.5  175.0  202.5  230.0

In [18]:
gf.describe().transpose()

Company             HCL     Infosys         TCS
Sales count    2.000000    2.000000    2.000000
      mean   450.000000  250.000000  175.000000
      std     70.710678   70.710678   77.781746
      min    400.000000  200.000000  120.000000
      25%    425.000000  225.000000  147.500000
      50%    450.000000  250.000000  175.000000
      75%    475.000000  275.000000  202.500000
      max    500.000000  300.000000  230.000000

In [49]:
gf.describe().transpose()['HCL']

Sales  count      2.000000
       mean     450.000000
       std       70.710678
       min      400.000000
       25%      425.000000
       50%      450.000000
       75%      475.000000
       max      500.000000
Name: HCL, dtype: float64